@import url('https://fonts.googleapis.com/css?family=oswld:400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswld', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #434750;
}

h1{
  position: absolute;
  top: 10vh;
  color: #999;
  /* transform: skewY(deg); */
  text-shadow: 10px 10px 0px #2e3133;
  transition: .5s;
}

h1:hover{
  color: white;
  text-shadow: 10px 10px 0px #2982b9;
  transition: .5s;
}

small{
  position: absolute;
  top: 15vh;
  color: #999;
  /* transform: skewY(deg); */
  text-shadow: 10px 10px 0px #2e3133;
  transition: .5s;
}

h2{
  position: absolute;
  bottom: 10vh;
  color: #999;
  text-shadow: 10px 10px 0px #2e3133;
}

h2:hover{
  color: white;
  text-shadow: 10px 10px 0px #2982b9;
}

ul{
  position: relative;
  transform: skewY(-15deg);
}

ul li{
  position: relative;
  list-style: none;
  width: 200px;
  background: #3e3f46;
  padding: 15px;
  z-index: var(--i);
  transition: .5s;

}

/* ul li:nth-child(odd):hover{
  background: #33a3ee;
  transform: translateX(-50px);
} */

ul li:hover{
  background: #33a3ee;
  transform: translateX(50px);
}

ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: .5s;
}

ul li:hover::before{
  background: #1f5378;
}

ul li::after{
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: .5s;
}

ul li:hover::after{
  background: #2982b9;
}

ul li a{
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
  transition: 0.5s;
}

ul li:hover a{
  color:  #fff;
}

@media screen and (max-width : 1000px) {
  h1{
    text-align: center;
    font-size: 1.3em;
    width: 85%;
  }
  h2{
    text-align: center;
    width: 85%;
  }
}